/*///////////// style for the signup page //////////////*/

h1{
	text-align: center;
	background-color: #fff;
	color: orange;
	padding: 10px 15px;
	margin: -25px -50px;
	border-radius: 10px 10px 0 0;
}

h2{
	text-align: center;
	padding: 30px 35px;
	margin: -10px -50px;
}

div.container{
	width: 900px;
	height: 500px;
	margin: 35px auto;
	font-family: calibri, sans-serif, helvetica;
}

div.main{
	margin-top: 40px;
	margin-left: 165px;
	border: 2px solid orange;
	width: 53%;
	padding: 10px 50px 25px;
	font-family: sans-serif;
	border-radius: 6px;
	float: left;
}

input[type=text], input[type=password], input[type=email]{
	height: 25px;
	width: 90%;
	color: #4f4f4f;
	padding: 3px;
	font-size: 15px;
	border: 2px solid #ccc;
	border-radius: 6px;
	margin-top: 5px;
	margin-bottom: 17px;
}

label{
	font-size: 14px;
	color: #4f4f4f;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
}

 .valid{
 	color: black;
 }

input[type=button]{
	width: 100%;
	padding: 10px 0;
	color: black;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

input[type=button]:hover{
	background:linear-gradient(forestgreen 5%, darkgreen 100%);
	color: white;
}